---
import RootLayout from "@/layouts/RootLayout.astro";
import { useTranslations } from "@/i18n";

const t = useTranslations();
---

<RootLayout
  title={t("siteMetadata.title")}
  description={t("siteMetadata.description")}
>
  <section class="top-4 h-[100px]">
    <h2>Entradas</h2>
  </section>
</RootLayout>
